.animation {
    opacity: 0;
}
.animated {
    animation-duration: 1.8s;
    -webkit-animation-duration: 1.8s;
    -ms-animation-duration: 1.8s;
}
.services i {
    transition: all 0.3s ease-in;
}
.services i:hover {
    transform:rotateY(180deg) scale(1.5,1.5);
    -moz-transform: rotateY(180deg) scale(1.5,1.5);
    -ms-transform: rotateY(180deg) scale(1.5,1.5);
    -webkit-transform: rotateY(180deg) scale(1.5,1.5);
    -o-transform: rotateY(180deg) scale(1.5,1.5);

}
.team img {
    transition: all 0.3s ease-in;
}
.team li .inner-content {
    overflow: hidden;
}
.team .inner-content:hover img{
    transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);
}

/* NO ANIMATIONS ON SMALL DEVICES*/
@media screen and (max-width: 992px) {
    .animation {
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        -o-animation: none;
        opacity: 1;
    }
}
